# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform/darwin_arm64


# Crash log files
crash.log

# Exclude any environment-specific files
*.tfvars

# Terraform workspace files
.terraform-env/
terraform/outputs.json

# Local override files (usually used for local development)
override.tf
override.tf.json

env
.DS_Store
*.pem
scripts/output_vars.sh
terraform/teardown_details.txt

testing/data/__pycache__/*
testing/data/__pycache__/generate_data.cpython-312.pyc

testing/testing_var.yaml
testing/schema-mapping/tables.yaml
kafka_topics.txt